@model Resolve.Models.HRServiceStaff

@{
    ViewData["Title"] = "Create Specific Details";
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#AllowanceChange").hide();
            $("#BasePayChange").hide();
            $("#TerminationReason").hide();
            $("#RequestType").change(function () {
                if ($(this).find(':selected').text() == "Compensation Base Pay Change") {
                    $("#BasePayChange").show();
                    $("#AllowanceChange").hide();
                    $("#TerminationReason").hide();
                } else if ($(this).find(':selected').text() == "Compensation Allowance Change") {
                    $("#AllowanceChange").show();
                    $("#BasePayChange").hide();
                    $("#TerminationReason").hide();
                }
                else if ($(this).find(':selected').text() == "Termination") {
                    $("#AllowanceChange").hide();
                    $("#BasePayChange").hide();
                    $("#TerminationReason").show();
                }
                else {
                    $("#AllowanceChange").hide();
                    $("#BasePayChange").hide();
                    $("#TerminationReason").hide();
                }
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

<h3>Create HR Service Request</h3>
<h4>Staff/Student</h4>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" id="WorkerType">
                <label asp-for="WorkerType" class="control-label"></label>
                <select asp-for="WorkerType" asp-items="Html.GetEnumSelectList<WorkerType>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="WorkerType" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="RequestType" class="control-label"></label>
                <select asp-for="RequestType" asp-items="Html.GetEnumSelectList<RequestType>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="RequestType" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div id="BasePayChange">
        <div class="row">

            <div class="col-md-4">

                <div class="form-group">
                    <label asp-for="BasePayChange" class="control-label"></label>
                    <select asp-for="BasePayChange" asp-items="Html.GetEnumSelectList<BasePayChange>()" class="form-control">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="BasePayChange" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">


                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="AllowanceChange">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="AllowanceChange" class="control-label"></label>
                    <select asp-for="AllowanceChange" asp-items="Html.GetEnumSelectList<AllowanceChange>()" class="form-control">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="AllowanceChange" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="TerminationReason">
        <div class="row">

            <div class="col-md-4">

                <div class="form-group">
                    <label asp-for="TerminationReason" class="control-label"></label>
                    <select asp-for="TerminationReason" asp-items="Html.GetEnumSelectList<TerminationReason>()" class="form-control">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="TerminationReason" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label asp-for="Offboarding" class="control-label"></label>
                    <input type="checkbox" asp-for="Offboarding" class="form-control" />
                    <span asp-validation-for="Offboarding" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="ClosePosition" class="control-label"></label>
                    <input type="checkbox" asp-for="ClosePosition" class="form-control" />
                    <span asp-validation-for="ClosePosition" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label asp-for="LeaveWA" class="control-label"></label>
                    <input type="checkbox" asp-for="LeaveWA" class="form-control" />
                    <span asp-validation-for="LeaveWA" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SupOrg" class="control-label"></label>
                <select asp-for="SupOrg" asp-items="Html.GetEnumSelectList<SupOrg>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="SupOrg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeEID" class="control-label"></label>
                <input asp-for="EmployeeEID" class="form-control" />
                <span asp-validation-for="EmployeeEID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BudgetNumbers" class="control-label"></label>
                <input asp-for="BudgetNumbers" class="form-control" />
                <span asp-validation-for="BudgetNumbers" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EffectiveStartDate" class="control-label"></label>
                <input asp-for="EffectiveStartDate" class="form-control" />
                <span asp-validation-for="EffectiveStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EffectiveEndDate" class="control-label"></label>
                <input asp-for="EffectiveEndDate" class="form-control" />
                <span asp-validation-for="EffectiveEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <textarea asp-for="Note" class="form-control"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>