@model Resolve.Models.CaseTypeGroup

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Groups attached to the Case Type</h4>
<hr />
<br />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div class="form-row">
                @{
                    int num_groups = 0;
                    if (ViewData["NumberOfGroups"] == null)
                    {
                        num_groups = 1;
                    }
                    else
                    {
                        num_groups = Convert.ToInt32(ViewData["NumberOfGroups"]);
                    }
                    @if (ViewData["hierarchical"].ToString() == "ordered")
                    {
                        <p>Please enter the order number for the selected groups starting from 1 to @num_groups</p>
                    }
                    else
                    {
                        <p>Since the Case Type doesn't require hierarchichal approval, leave the order for groups to be empty</p>
                    }
                    for (int i = 0; i < num_groups; i++)
                    {
                        string num = i.ToString();

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        string casetype = "CaseType" + num;
                        if (ViewData["CTypeID"] != null)
                        {
                            int cid = Convert.ToInt32(ViewData["CTypeID"]);
                            <div class="form-group col-md-3">
                                <input type="hidden" value="@cid" name=@casetype asp-for="CaseTypeID" class="form-control" />
                            </div>
                        }
                        else
                        {
                            <div class="form-group col-md-3">
                                <label asp-for="CaseTypeID" class="control-label"></label>
                                <select name=@casetype asp-for="CaseTypeID" class="form-control" asp-items="ViewBag.CaseTypeID"></select>
                            </div>
                        }
                        string localgroup = "LocalGroup" + num;
                        <div class="form-group col-md-5">
                            <label asp-for="LocalGroupID" class="control-label"></label>
                            <select name=@localgroup asp-for="LocalGroupID" class="form-control" asp-items="ViewBag.LocalGroupID"></select>
                        </div>
                        string order = "Order" + num;
                        <div class="form-group col-md-2">
                            <label asp-for="Order" class="control-label"></label>
                            <input name=@order asp-for="Order" class="form-control" />
                        </div>
                    }
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

