@model IEnumerable<Resolve.Models.UserGroup>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Groups</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">New User Group</a>
</p>
Below is the list of User memberships for Azure active directory groups relevant to Resolve. This group is automatically managed, as users login to Resolve, thier group memberships are added/removed automatically through Azure. Make sure group memberships are managed through <a href="https://groups.uw.edu/" target="_blank">UW Groups</a> or <a href="https://portal.azure.com" target="_blank">UW Azure AD</a> 
<table id="dt_filter_select_general" class="table table-sm">
    <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Group Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalUser.LocalUserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalGroup.GroupName)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { lid=item.LocalUser.LocalUserID, gid=item.LocalGroup.LocalGroupID })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Group Name</th>
        </tr>
    </tfoot>
</table>
