@{
    ViewData["Title"] = "Preferences";
}
<h1>@ViewData["Title"]</h1>

<p>You could set your emailing preferences here on this page, you could also unsubscribe from various categories of emails</p>
