@model Resolve.Models.EmailPreference

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Email Preferences</h5>
<hr />
<p>Below are the categories to which you are currently subscribed, to recieve email notifications. To unsubscribe, uncheck the appropriate categories below.</p>
<br />
<h6>Receive Email Notifications:</h6>
<br />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Preferences">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LocalUserID" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CaseCreation" /> When you create a new case, or a case is created on your behalf
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CaseAssignment" /> When a case is assigned to you (Pending for your action)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GroupAssignment" /> When a case is assigned to your groups
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CommentCreation" /> When a comment is added to a case (For cases created by you or assigned to you)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AttachmentCreation" /> When an attachment is added to a case (For cases created by you or assigned to you)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CaseProcessed" /> When a case created by you, or on behalf of you is marked as processed (Approved/Rejected)
                </label>
            </div>
            <hr>
            <h5>Customize the way your homepage looks, by choosing which sections to expand on launch:</h5>
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CasesCreatedByUser" /> Keep "Cases Created by You" section expanded
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CasesAssignedToUser" /> Keep "Cases Assigned to You" section expanded
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CasesAssignedToUsersGroups" /> Keep "Cases Assigned to Your Groups" section expanded
                </label>
            </div>
            <hr>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
