@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RequestManager</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/mdb/css/addons/datatables2.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RequestManager</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    @if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
                    {
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown m-1" type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="false">
                                Admin Menu <i class="fas fa-caret-down"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="LocalUsers" asp-action="Index">Users</a>
                                <a class="dropdown-item" asp-area="" asp-controller="LocalGroups" asp-action="Index">Groups</a>
                                <a class="dropdown-item" asp-area="" asp-controller="UserGroups" asp-action="Index">Group Memberships</a>
                                <a class="dropdown-item" asp-area="" asp-controller="CaseTypes" asp-action="Index">Case Types</a>
                                <a class="dropdown-item" asp-area="" asp-controller="CaseTypeGroups" asp-action="Index">Case Type Groups</a>
                                <a class="dropdown-item" asp-area="" asp-controller="CaseComments" asp-action="Index">Case Comments</a>
                                <a class="dropdown-item" asp-area="" asp-controller="CaseAttachments" asp-action="Index">Case Attachments</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Cases" asp-action="Index">All Cases</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Approvers" asp-action="Index">Approvers</a>
                                <a class="dropdown-item" asp-area="" asp-controller="GroupAssignments" asp-action="Index">Group Assignments</a>
                                <a class="dropdown-item" asp-area="" asp-controller="OnBehalves" asp-action="Index">On Behalf</a>
                                <a class="dropdown-item" asp-area="" asp-controller="CaseAudits" asp-action="Index">Audit Logs</a>
                            </div>
                        </div>
                    }
                    <form asp-action="Search" asp-controller="Home" class="form-inline my-2 my-lg-0 ml-auto">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Case ID" aria-label="Case ID" aria-describedby="basic-addon2" name="SearchString">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary mr-1" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown m-1" type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="false">
                            Past Cases <i class="fas fa-caret-down"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ByYou">Created by You</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ToYou">Assigned to You</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ToYourGroups">Assigned to your Groups</a>
                        </div>
                    </div>
                    <a class="btn btn-outline-secondary mr-1" role="button" aria-haspopup="true" asp-controller="Cases" asp-action="Create">New Case <i class="fas fa-pen"></i></a>
                    <ul class="navbar-nav flex-grow-1">
                        <li>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid align-middle">
            &copy; 2020 - Resolve - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> -
            <a asp-area="" asp-controller="Reports" asp-action="Index">Reporting</a>
            <div class="btn-group dropup btn-sm">
                <button type="button" class="btn btn-outline-secondary btn-sm dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Guides <i class="fas fa-caret-up"></i>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Download" asp-route-id="ug"><i class="fa fa-download"></i> User Guide</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Download" asp-route-id="ag"><i class="fa fa-download"></i> Admin Guide</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Download" asp-route-id="dg"><i class="fa fa-download"></i> Developer Guide</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/mdb/js/mdb.min.js"></script>
    <script type="text/javascript" src="~/mdb/js/addons/datatables2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
