@model Resolve.Models.HiringAffiliateFaculty

@{
    ViewData["Title"] = "Edit Specific Details";
}


<h3>Edit Hiring Request</h3>
<h4>Affiliate Faculty </h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CaseID" />
            <div class="form-group">
                <label asp-for="FacAffiliateTitle" class="control-label required-field"></label>
                <select asp-for="FacAffiliateTitle" asp-items="Html.GetEnumSelectList<FacAffiliateTitle>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="FacAffiliateTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Department" class="control-label required-field"></label>
                <select asp-for="Department" asp-items="Html.GetEnumSelectList<Department>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label required-field"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HireDate" class="control-label required-field"></label>
                <input asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <textarea asp-for="Note" class="form-control"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
