@model Resolve.Models.Case

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Case</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CaseID" />
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnBehalfOf" class="control-label"></label>
                <input asp-for="OnBehalfOf" class="form-control" />
                <span asp-validation-for="OnBehalfOf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseStatus" class="control-label"></label>
                <input asp-for="CaseStatus" class="form-control" />
                <span asp-validation-for="CaseStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseCreationTimestamp" class="control-label"></label>
                <input asp-for="CaseCreationTimestamp" class="form-control" />
                <span asp-validation-for="CaseCreationTimestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseTypeID" class="control-label"></label>
                <select asp-for="CaseTypeID" class="form-control" asp-items="ViewBag.CaseTypeID"></select>
                <span asp-validation-for="CaseTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
