@model Resolve.Models.CaseType

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Case Type</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CaseTypeTitle" class="control-label"></label>
                <input asp-for="CaseTypeTitle" class="form-control" />
                <span asp-validation-for="CaseTypeTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongDescription" class="control-label"></label>
                <input asp-for="LongDescription" class="form-control" />
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Number of Groups (that would approve Cases of this Case Type)</label>
                <input asp-for="GroupNumber" class="form-control" />
                <span asp-validation-for="GroupNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Hierarchical_Approval" /> Hierarchical Approval Required? (Leave unchecked if you need all approvers to work on the Case simultaneously)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

